<div class="main">
  <div class="container">
    <app-header [title]="'Currency Exchanger'" [hiddenBackToHome]="true"></app-header>
    <app-convert [hiddenDetails]="true"></app-convert>
    <div class="container-popular-currencies">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-12 section-popular-currencies" *ngFor="let currency of popularCurrencies">
          <div class="popular-currency">
            <span class="title d-block mb-2">{{currency.currencyName}}</span>
            <p class="m-0 d-block">{{currency.currencyValue}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>